efinmap_colorscheme/dist/efinmap[[:space:]]v3/**/*.dll filter=lfs diff=lfs merge=lfs -text
efinmap_colorscheme/dist/efinmap[[:space:]]v3/**/*.pak filter=lfs diff=lfs merge=lfs -text
efinmap_colorscheme/dist/efinmap[[:space:]]v3/**/*.exe filter=lfs diff=lfs merge=lfs -text
